.custom-img {
	width: 300px;
	height: 370px;
	border-radius: 10px;
}

/* 말줄임 표시 */
.multiLine {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.custom-btn {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	border: none;
	width: 90px;
	height: 40px;
	border-radius: 25px;
	background: #1763E9;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	margin-top: 15px;
}

.star-score {
	color: transparent;
	text-shadow: 0 0 0 #fdd826;
}

.selector {
	height: 50px;
	width: 170px;
	border-radius: 10px;
}

/*
.list-img:hover {
    transform: scale(1.1);
	transition: all 1s;
	cursor: pointer;
}
*/

.custom-img:hover {
	animation:box-ani 0.5s linear forwards;
}

@keyframes box-ani {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -15px);
    }
}