server:
  port: 9090
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      
spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
      
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/jmthouse?serverTime=Asia/Seoul
    username: ten
    password: 1q2w3e4r5t!
    
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false
    show-sql: true
    properties:
      hibernate.format_sql: true
      
  jackson:
    serialization:
      fail-on-empty-beans: false
      
  security:
    user:
      name: test
      password: 1234
      
  servlet:
    multipart:
      max-file-size: 20MB # 파일 하나의 최대 용량
      max-request-size: 200MB # 한 번에 동시에 보낼 수 있는 파일 용량
      
file:
  path: C:/houseImgDir/upload/
